# игнорирование всех файлов *.log
*.log

# игнорирование директории node_modules
node_modules/

# игнорирование одного конкретного файла
file_to_ignore.txt

# игнорирование всех файлов с расширением .swp
*.swp